.row {
    padding-bottom: 5px;
}

.footer {
    font-size: smaller;
    display: inline;
    margin-left: 5px;
}

#Cfooter {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    background-color: white;
}

hr {
    margin-bottom: 10px;
}

#logo {
    max-height: 50px;
    max-width: 100px;
}

#recherche {
    color: grey;
}

.annonce {
    max-height: 100px;
    max-width: 100px;
}

.panier {
    right: 30px;
    position: absolute;
}

.contenu {
    float: right;
}

.filtre {
    margin-right: 10px;
}

.pages {
    text-align: center;

}

body {
    background: url(../img/04.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel {
    border: outset 2px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.form-control {
    width: 120px;
}

.popover {
    max-width: 400px;
}

input.form-control {
    margin-top: 2px;
    margin-bottom: 2px;
}

li {
    font-size: 150%;
    text-align: center;
    line-height: 28px;
    margin-top: 5px;
}

.glyphicon {
    vertical-align:middle;
}

.navbar-brand {
    margin-bottom: 10px;
}

#titleValidate {
	font-size:175%;	
	text-align:center;
}

#blockValidate {
	background-color:#eee;
	border:1px solid #ccc;
	border-radius:5px;
	padding:5px;
}

#infoValidate {
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom:8px;
	margin-left:4px;
	margin-right:4px;
	background-color:white;
	padding:5px;
}

#buttonGroupValidate {
	text-align:center;
	margin-bottom:3px;
}

#panierMenu {
	padding:25px;
}

#labelTotalPrice {
	text-align:right;
}

.borderBlock {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	text-align:center;
}

.borderMainBlock {
	padding:5px;
}

.qtLeft {
	margin-top:5px;
	transform: translateY(50%);
	color:#007F00;
}


.spanStyleLeft {
	background-color:#eee;
	border:1px solid #ccc;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	border-right:none;
	padding-left:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.spanStyleRight {
	background-color:#eee;
	border:1px solid #ccc;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-left:none;
	padding-right:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.spanStyleBlock {
	background-color:#eee;
	border:1px solid #ccc;
	border-radius:4px;
	padding-right:12px;
	padding-left:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.align {
	text-align:center;
}

button[id*="delItem"] {
	background-color:#eee;
	border:1px solid #ccc;
}

.input-group {
	width:65%;
}

.buttonGroup {
	margin-top:-9px;
	margin-left:18%;
}

.glyphicon-trash {
	color:black;
}

hr { 
	margin-bottom:15px;
}

#erreur {
	color:red;
}

