html, body {
    height: 100%;
}

body {
    background: rgb(73,55,89);
    padding-top: 70px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes font-change {
    from {color: rgba(52, 73, 94,1.0);}
    to {color: #f39c12;}
}

/* Standard syntax */
@keyframes font-change {
    from {color: rgba(52, 73, 94,1.0);}
    to {color: #f39c12;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes font-change2 {
    from {color: rgba(236, 240, 241, 1);}
    to {color: #f39c12;}
}

/* Standard syntax */
@keyframes font-change2 {
    from {color: rgba(236, 240, 241, 1);}
    to {color: #f39c12;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes arrow-change {
    from {color: rgba(52, 73, 94,1.0);}
    to {color: #f39c12;}
}

/* Standard syntax */
@keyframes arrow-change {
    from {color: rgba(52, 73, 94,1.0);}
    to {color: #f39c12;}
}

@-webkit-keyframes btn-change {
    from {background-color: rgba(236, 240, 241, 1);}
    to {background-color: #f39c12;}
}

/* Standard syntax */
@keyframes btn-change {
    from {background-color: rgba(236, 240, 241, 1);}
    to {background-color: #f39c12;}
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

h3 {
    margin-top: 10px;
}

.col-md-6 > h3 {
    text-align: center;
}

.warper {
    padding-top: 20px;
    margin: 0 auto -55px;
    height: auto;
    min-height: 100%;
    padding-bottom: 20px;
}

.container.main {
    padding-top: 10px;
    background-color: #f6f6f6;
    min-height: 800px;
}

.img-gal {
    padding: 0;
    margin: 0;
}

p.centered {
    text-align: center;
    font-size: 120%;
}

#logo {
    max-height: 50px;
    max-width: 100px;
}

.annonce {
    width: 200%;
}

.panier {
    right: 30px;
    position: absolute;
}

.contenu {
    float: right;
}

.filtre {
    margin-right: 10px;
}

.pages {
    text-align: center;
}

.panel-title, .panel-body {
    text-align: justify;
    font-size: 120%;
}

.navbar-default {
    border: none;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a.btn-order:hover,
.dropdown-menu > li > a.btn-order:focus,
#headNavbar > ul > li > a:hover,
#headNavbar > ul > li > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: transparent;
    color: rgba(52, 73, 94,1.0);
    box-shadow: none;
    border: none;
    text-decoration: none;
    -webkit-animation-name: font-change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-name: font-change;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.dropdown-menu {
    top: 67px;
    background-color: rgba(236, 240, 241, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-menu > li > a {
    font-size: 120%;
    color: rgba(52, 73, 94,1.0);
}

.dropdown-menu > li > a.btn-order {
    font-size: 120%;
    background-color: #f39c12;
    color: rgba(52, 73, 94,1.0);
    box-shadow: none;
    border: none;
    text-decoration: none;
}

.dropdown-header {
    font-size: 120%;
    color: rgba(52, 73, 94,1.0);
}

#mailLogin, #passeLogin {
    width: 130%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.login-footer {
    cursor: pointer;
    text-align: center;
}

.popover {
    width: 400px;
    position: fixed;
}

.popover.bottom .arrow:after {
    border-bottom-color: rgba(236, 240, 241, 1);;
}

.navbar-collapse {
    text-align: center;
    line-height: 28px;
    margin-top: 5px;
}

.navbar-default {
    border-top: none;
    background-color: rgba(236, 240, 241, 1);
}

.navbar-brand {
    padding: 0;
}

#headNavbar > ul > li > a {
    font-size: 150%;
    color: rgba(52, 73, 94,1.0);
}

.push {
    height: 55px;
}

.footer {
    height: 55px;
    background-color: rgba(236, 240, 241, 1);
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

.nav-pills {
    height: 55px;
}

.nav-pills > li > a {
    font-size: 120%;
    color: rgba(52, 73, 94,1.0);
    vertical-align: center;
    padding: 15px;
}

#searchLink {
    cursor: pointer;
}

.searchWell {
    background-color: rgba(236, 240, 241,1.0);
    border: 10px rgba(236, 240, 241, 0.3);
    border-top: none;
    border-bottom: none;
    color: rgba(52, 73, 94,1.0);
}

.searchForm {
    padding-bottom: 15px;
}

.item-info {
    font-size: 110%;
}

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

.item-right > button {
    margin-top: 8px;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.carousel-holder {
    padding-top: 5px;
}

.popover,
.modal-content {
    background-color: rgba(236, 240, 241,1.0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-connect,
.btn-subscribe {
    background-color: rgba(236, 240, 241, 1);
    font-size: 120%;
    margin-bottom: 5px;
    border: 1px solid rgba(52, 73, 94,1.0);
}

.btn-connect:hover,
.btn-subscribe:hover {
    -webkit-animation-name: btn-change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-name: btn-change;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.btn-warning {
    background-color: #f39c12;
}

.well-lg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popover-title,
.modal-header,
.modal-title {
    background-color: rgba(236, 240, 241, 1);
    font-size: 140%;
    text-align: center;
}

.modal-body {
    color: rgba(52, 73, 94,1.0);
    font-size: 120%;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}

.car-img {
    width: 100%;
    height: auto;
}

.main-car.carousel-control.left,
.main-car.carousel-control.right {
    background-image: none;
}

.main-car.carousel-control {
    position: absolute;
    top: 45%;
    bottom: 0;
    width: 15%;
    color: rgba(52, 73, 94,1.0);
    text-align: center;
    opacity: 1;
    text-shadow: none;
}

.main-car.carousel-control:hover,
.main-car.carousel-control:focus {
    color: #f39c12;
    -webkit-animation-name: arrow-change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-name: arrow-change;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.main-car.carousel-control:after {
    color: rgba(52, 73, 94,1.0);
}

.main-car.carousel-indicators {
    bottom: -30px;
}

.main-car.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f39c12;
    border-radius: 50%;
}

.main-car.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #f39c12;
}

.main-car.carousel-caption {
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    color: rgba(236, 240, 241, 1);
    text-align: center;
    background: rgba(52, 73, 94, 0.3);
    font-size: 130%;
}

.main-car.carousel-caption > h2 {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: rgba(236, 240, 241, 1);
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    font-size: 200%;
}

.prod.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.prod.carousel-control {
    position: absolute;
    top: 30%;
    bottom: 0;
    width: 25%;
    color: rgba(52, 73, 94,1.0);
    text-align: center;
    opacity: 1;
    text-shadow: none;
}

.prod.carousel-control:hover,
.prod.carousel-control:focus {
    color: #f39c12;
    -webkit-animation-name: arrow-change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
    animation-name: arrow-change;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}

.prod.carousel-control.left,
.prod.carousel-control.right {
    background-image: none;
}

.prod.carousel-control.right {
    right: -130px;
}

.prod.carousel-control.left {
    left: -130px;
}

.prod.carousel-indicators {
    right: 50%;
    top: auto;
}

.prod.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #f39c12;
    border-radius: 50%;
}

.prod.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #f39c12;
}


.img-col {
    padding: 15px;
    max-width: 100%;
    height: auto;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: rgba(236, 240, 241, 1);
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect h2 {
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: rgba(236, 240, 241, 1);
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    font-size: 200%;
    transform: translate(-50%, -50%);
}

.hovereffect:hover h2 {
    -webkit-animation-name: font-change2; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
    animation-name: font-change2;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}


.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#articles{
    margin-top: 2%;
}
.search-col {
    padding-bottom: 20px;
}

.control-label {
    font-size: 120%;
    padding-top: 5px;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}

.fa-ul {
    font-size: 150%;
    text-align: center;
    padding-bottom: 10px;
}
#titleValidate {
	font-size:175%;	
	text-align:center;
}

#blockValidate {
	background-color:#eee;
	border:1px solid #ccc;
	border-radius:5px;
	padding:5px;
}

#infoValidate {
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom:8px;
	margin-left:4px;
	margin-right:4px;
	background-color:white;
	padding:5px;
}

#buttonGroupValidate {
	text-align:center;
	margin-bottom:3px;
}

#panierMenu {
	padding:25px;
}

.borderBlock {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	text-align:center;
}

.borderMainBlock {
	padding:5px;
}

.qtLeft {
	margin-top:5px;
	transform: translateY(50%);
	color:#007F00;
}


.spanStyleLeft {
	background-color:#eee;
	border:1px solid #ccc;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	border-right:none;
	padding-left:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.spanStyleRight {
	background-color:#eee;
	border:1px solid #ccc;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-left:none;
	padding-right:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.spanStyleBlock {
	background-color:#eee;
	border:1px solid #ccc;
	border-radius:4px;
	padding-right:12px;
	padding-left:12px;
	padding-top:6px;
	padding-bottom:6px;
}

.align {
	text-align:center;
}

button[id*="delItem"] {
	background-color:#eee;
	border:1px solid #ccc;
}

.input-group {
	width:65%;
}

.buttonGroup {
	margin-top:-9px;
	margin-left:18%;
}

.glyphicon-trash {
	color:black;
}

#erreur {
	color:red;
}

textarea#message {
    height: 150px;
}

.alert-info {
    font-size: 120%;
}

#price {
    text-align: center;
}

.shop-btn {
    margin-bottom: 10px;
}

.catalog-cart-div {
    padding-bottom: 40px;
}

.add-cart-div {
    border: solid 1px #7f8c8d;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.account-menu {
    top: 55px;
    border: none;
    width: 170%;
    font-size: 120%;
    color: rgba(52, 73, 94,1.0);
}

.caption > h5 {
    overflow: hidden;
    width: 230px;
}

.thumbnail {
    height: 195px;
}

th,
tr,
td {
    padding: 5px;
    text-align: center;
}

.page-header {
    text-align: center;
}

a {
    font-size: 130%;
    color: rgba(52, 73, 94,1.0);
}

a:hover {
    text-decoration: none;
    -webkit-animation-name: font-change; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.3s; /* Chrome, Safari, Opera */
    animation-name: font-change;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}