    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="Cfooter">

            <a class="footer" href="footer.html">Plan du site</a>
            |
            <a class="footer" href="cgv.php">CGV</a>

            |
            <a class="footer" href="footer.html">Informations légales</a>

            |
            <a class="footer" href="footer.html">Protection des données</a>

        </div>
    </div>
</div>
</body>
</html>
